<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/estilo.css">
</head>
<body>

    <fieldset>
        <legend>FORMULARIO</legend>
        <form method="post" action="/pessoas/criar">

            <h2>POR FAVOR PREENCHER OS DADOS ABAIXO</h2>
            
            <label for="nome">Nome:</label>
            <input type="text" id="nome" name="nome" placeholder="Digite seu nome" />

            <br>

            <label for="sobrenome">Sobrenome:</label>
            <input type="text" placeholder="Digite seu sobrenome" name="sobrenome" />

            <br>

            <label for="idade">Idade:</label>
            <input type="number" placeholder="Digite sua idade" name="idade">

            <br>
          
            <input type="submit" id="botao" value="Enviar">
        </form>
    </fieldset>
</body>
</html>